attr==0.3.1
attrs==21.2.0
Brotli==1.0.9
ConfigParser==5.2.0
contextlib2==21.6.0
cryptography==3.4.8
curio==1.5
cython==0.29.30
Cython==0.29.30
dl==0.1.0
docutils==0.18.1
email_validator==1.1.2
gunicorn==20.1.0
HTMLParser==0.0.2
hypothesis==6.46.7
importlib_metadata==4.6.4
ipython==8.3.0
ipywidgets==7.7.0
itsdangerous==2.1.2
Jinja2==3.0.3
jnius==1.1.0
keyring==23.5.0
lockfile==0.12.2
loop==1.0.0
lxml==4.8.0
multipart==0.2.4
numpy==1.21.5
ordereddict==1.1
orjson==3.6.8
outcome==1.1.0
Pillow==9.1.1
protobuf==3.20.1
pyOpenSSL==22.0.0
pytest==6.2.5
python_bcrypt==0.3.2
railroad==0.5.0
speedups==1.0.0
Sphinx==4.5.0
toml==0.10.2
tornado==6.1
trio==0.20.0
trio_typing==0.7.0
ujson==5.2.0
url_parser==3.0.3
wsproto==1.1.0
xmlrpclib==1.0.1
zipp==1.0.0
